<script type="text/javascript">
<!--
var sql_num_conn = <mt:var name="connection_count">;

function sql_add_connection() {
    sql_num_conn++;
    var html = "<td><input type=\"text\" name=\"conn_name_" + sql_num_conn + "\" style=\"width: 100%\" /></td>"
        + "<td><input type=\"text\" id=\"conn_dsn_" + sql_num_conn + "\" name=\"conn_dsn_" + sql_num_conn + "\" style=\"width: 100%\" /></td>"
        + "<td><input type=\"text\" name=\"conn_username_" + sql_num_conn + "\" style=\"width: 100%\" /></td>"
        + "<td><input type=\"password\" name=\"conn_password_" + sql_num_conn + "\" style=\"width: 100%\" /></td>"
        + "<td><a href=\"#\" onclick=\"return sql_remove_connection(" + sql_num_conn + ")\"><img src=\"<mt:var name="static_uri">images/nav_icons/mini/delete.gif\" width=\"9\" height=\"11\" alt=\"<MT_TRANS phrase="Delete">\" /></a>";
    var tbl = getByID("sql_connection_table");
    var tr = document.createElement("tr");
    tr.innerHTML = html;
    tr.id = "sql_connection-" + sql_num_conn;
    tbl.appendChild(tr);
    var name = getByID("conn_name_" + sql_num_conn);
    if (name) name.focus();
}
function sql_remove_connection(num) {
    var tr = getByID("sql_connection-" + num);
    if (tr) {
        var dsn = getByID("conn_dsn_" + num);
        dsn.value = "";
        TC.addClassName(tr, "hidden");
    }
    return false;
}
// -->
</script>

<p>
You can define named database connections here. Supply a unique name,
a Perl DBI-based 'DSN' (data source name), username and password to
define a connection. Please refer to the documentation for the
database drivers for examples of valid DSNs: <a target="_blank" href="http://search.cpan.org/~capttofu/DBD-mysql/lib/DBD/mysql.pm">MySQL</a>,
<a target="_blank" href="http://search.cpan.org/~dbdpg/DBD-Pg/Pg.pm">PostgreSQL</a>,
<a target="_blank" href="http://search.cpan.org/~msergeant/DBD-SQLite/lib/DBD/SQLite.pm">SQLite</a>,
<a target="_blank" href="http://search.cpan.org/~pythian/DBD-Oracle/Oracle.pm">Oracle</a>,
<a target="_blank" href="http://search.cpan.org/~jurl/DBD-ODBC/ODBC.pm">ODBC</a>,
<a target="_blank" href="http://search.cpan.org/~darren/DBD-Google/lib/DBD/Google.pm">Google</a>.
</p>

<mt:if name="scope_system">
<mtapp:setting id="sql_plugin_restrict" label="Restrict to Administrators"
    hint="Check this field if you want to only permit system administrators to use the SQL tags in templates." show_hint="1"">
    <input id="sql_admin_restrict" type="checkbox" name="admin_restrict" <mt:if name="admin_restrict">checked="checked"</mt:if> value="1" />
</mtapp:setting>
</mt:if>

<mtapp:settinggroup id="sql_plugin_connections">
    <div id="actions-bar-top" class="actions-bar actions-bar-top">
        <div class="actions-bar-inner pkg">
            <span class="button-actions actions">
                <a href="javascript:void(0)" onclick="sql_add_connection()">Add</a>
            </span>
        </div>
    </div>
    <div class="listing">
    <table cellspacing="0" id="sql_connection_table" width="100%">
    <thead>
    <tr>
        <th width="20%">Name</th>
        <th width="39%">DSN</th>
        <th width="20%">Username</th>
        <th width="20%">Password</th>
        <th width="9">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <mt:loop name="connection_loop">
    <tr id="sql_connection-<mt:var name="num">">
        <td><input name="conn_name_<mt:var name="num">" type="text" value="<mt:var name="name">" style="width: 100%" /></td>
        <td><input id="conn_dsn_<mt:var name="num">" name="conn_dsn_<mt:var name="num">"  type="text" value="<mt:var name="dsn" escape="html">" style="width: 100%" /></td>
        <td><input name="conn_username_<mt:var name="num">" type="text" value="<mt:var name="username">" style="width: 100%" /></td>
        <td><input name="conn_password_<mt:var name="num">" type="password" value="<mt:var name="password">" style="width: 100%" /></td>
        <td><a href="#" onclick="return sql_remove_connection(<mt:var name="num">); return false;"><img src="<mt:var name="static_uri">images/nav_icons/mini/delete.gif" width="9" height="11" alt="<MT_TRANS phrase="Delete">" /></a></td>
    </tr>
    </mt:loop>
    </tbody>
    </table>
    </div>
</mtapp:settinggroup>

<p>
Note you do not have to create named connections to utilize the database
connection you use for your MT database. This one is used by default. But
you can use named connections to pull data from any installed DBD-driver and
database. These named connections are meant mostly for the <code>&lt;MTSQL&gt;</code> tag.
The other MT-object oriented tags (such as <code>&lt;MTSQLEntries&gt;</code>) will
always pull the actual MT objects from your MT installation, not from the
database identified by the named connection. Also note that you may use
DBI drivers that MT doesn't support itself (such as the DBI driver for doing
Google queries I've referred to).
</p>
